@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2 {
  font-size: 24px;
  line-height: 100%;
  text-transform: uppercase;
}
button {
  background-color: #6c63ff;
  cursor: url("./public/cursor.svg"), auto;
}
button:active {
  background-color: #534cc2;
  transform: translateY(2px);
}
img {
  cursor: url("./public/cursor.svg"), auto;
}

input {
  border: 1px solid #6c63ff;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: url("./public/cursor.svg"), auto;
}
input,
input::placeholder {
  font-family: "Inter", serif;
  font-size: 16px;
  line-height: 100%;
}
input:focus {
  outline: none;
}
