.weather {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
ul {
  list-style: none;
  padding: 0;
}

.autocomplete-results {
  position: absolute;
  width: 290px;
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px solid wheat;
  z-index: 2;
}
.autocomplete-item {
  cursor: pointer;
}
.autocomplete-item:hover {
  background-color: #f0f0f0;
}
