.list {
  margin-top: 1.5rem;
}

.div {
  background-color: rgb(0, 0, 0, 0.4);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
  padding: 1rem;
  margin-bottom: 1rem;
  position: relative;
}

.delete__button {
  top: 5px;
  right: 10px;
  height: 40px;
  width: 40px;
  padding: 0;
  padding-top: 5px;
  position: absolute;
}
.email {
  margin-top: 0;
  margin-bottom: 5px;
}

.searchInput {
  margin-top: 20px;
  padding: 5px;
  border: 2px solid #888;
  width: 200px;
  height: 20px;
}
.search {
  display: flex;
  align-items: center;
  position: relative;
  width: 214px;
}
.icon {
  margin-left: 10px;
  margin-top: 15px;
}
.date {
  margin: 0;
  font-size: 13px;
  color: black;
  text-align: right;
}
