.checkbox {
  cursor: pointer;
  width: 24px;
  height: 24px;
  padding: 2px;
  appearance: none;
  position: relative;
}

.checked {
  background-color: #6c63ff;
}

.checkbox::after {
  content: "✔";
  position: absolute;
  color: var(--checkbox-color);
  width: 18px;
  height: 18px;
  right: 1px;
}

.note {
  font-weight: 400;
  text-decoration-style: solid;
  text-decoration-line: line-through;
  border: none;
  padding: 0;
  opacity: 60%;
  min-width: 384px;
}
