.tasks {
  @apply flex flex-col mt-8 ml-28 mr-28;
  height: 550px;
}
.checkbox {
  width: 22px;
  height: 22px;
  padding: 2px;
  appearance: none;
  position: relative;
  background-color: #f7f7f7;
}
.checkbox:checked {
  background-color: #6c63ff;
}
.checkbox::after {
  content: "✓";
  position: absolute;
  top: 0.1em;
  left: 0.3em;
  color: #f7f7f7;
  font-size: 1em;
}
.note {
  font-weight: 400;
  text-decoration-style: solid;
  text-decoration-line: line-through;
  text-decoration-color: red;
  border: none;
  padding: 0;
  min-width: 384px;
}
